/*Site Wide*/
/*---------------------------------------------------*/
* {
  font-family: 'Raleway', sans-serif;
}

html,body {  /*This sets background images to full height*/
  height:100%;
}

/*---------------------------------------------------*/
/*This is navbar menu items*/
.navbar__link {
  text-decoration: none; /*get rid of default blue link underline*/
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  padding: 15px;
  font-family: 'Raleway';
  text-shadow: 2px 1px 1px rgba(235,65,65,.60);
}

/*---------------------------------------------------*/
/*COMMON STYLES THROUGHOUT*/
h1 {
font-family: 'Raleway';
font-size: 55px;
color: white;
text-align: center;
text-transform: uppercase;
line-height: 20%;
}

h2 { /*Page headings*/
font-family: 'Raleway';
font-size: 55px;
color: white;
text-align: left;
text-transform: uppercase;
line-height: 20%;
}

h3 { /*card headings*/
  color: #FDFE59;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 25px;
}

h4 {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 25px;
  line-height: 0;
}

h5 {
  color: black;
  font-size: 16px;
  text-align: left;
  margin-left: 25px;
}

p { /*footer text*/
color: white;
text-align: center;
font-size: 12px;
text-shadow: 2px 1px 1px rgba(235,65,65,.60);
/*#EB4141;*/
}

/*LIST ITEM STYLING*/
ul,li {
  list-style-type: none;
  text-align: left;
  color: #d0bcb3;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

img {
  width: 100%;
  height: 50%;
  display: inline-grid;
}

.li__header {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.table__header {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  align-self: center;
  align-content: center;

}

/*BUTTON STYLING*/
.button {
	background-color:#ff975d;
	border-radius:25px;
	cursor:pointer;
	color: white;
	font-family: "Raleway";
	font-size:12px;
  padding: 10px;
	text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  align-self: center;
  align-content: center;
  border: none;
  width: 50%;
  margin-left: 20%;
  margin-bottom: 20px;
  display: grid; /*using css grid layout*/
}
.button:hover {
	background-color:#FDFE59;
  color:black;
}
.button:active {
	position:relative;
	top:1px;
}


/*---------------------------------------------------*/
/*BACKGROUND IMAGES*/

.comingsoon { /*ARTIST.HTML, MERCH.HTML, MUSIC.HTML*/
background-image: url("../img/coming-soon-background.png");
background-size: cover;
background-repeat: no-repeat;
min-height: 100%;
}

.home { /*INDEX.HTML*/
background-image: url("../img/homepage-background.png");
background-size: cover;
background-repeat: no-repeat;
min-height: 100%;
}

.live { /*LIVE.HTML*/
background-image: url("../img/live-background.png");
background-size: cover;
background-repeat: no-repeat;
min-height: 100%;
}

.shows { /*SHOWS.HTML*/
background-image: url("../img/shows-background.png");
background-size: cover;
background-repeat: no-repeat;
min-height: 100%;
}

.booking { /*BOOKING.HTML*/
background-image: url("../img/shows-background.png");
background-size: cover;
background-repeat: no-repeat;
min-height: 100%;
}

/*---------------------------------------------------*/
/*MAIN GRID USED THROUGHOUT*/
.main {
  height: 100%;
  margin: 0;
  align-items: center;
  align-content: center;
  text-align: center; /*intro full screen width*/
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /*create  5column with grid*/
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /*create 6 rows*/
  }

  /*---------------------------------------------------*/
  /*HEADER TEXT*/
  #main__grid--left {
    grid-row: 3/5; /*positioning top row*/
    grid-column: 2; /*telling it to span full width of all columns*/

  }

  #main__grid--abovecard--left {
    grid-row: 2; /*positioning top row*/
    grid-column: 2; /*telling it to span full width of all columns*/
  }

  #main__grid--abovecard--span {
    grid-row: 2; /*positioning top row*/
    grid-column: 2/4; /*telling it to span full width of all columns*/
  }


  #main__grid--abovecard--center {
    grid-row: 2; /*positioning top row*/
    grid-column: 3; /*telling it to span full width of all columns*/
  }

  #main__grid--abovecard--right {
    grid-row: 2; /*positioning top row*/
    grid-column: 4; /*telling it to span full width of all columns*/
  }
  /*---------------------------------------------------*/
  /*NAVIGATION BAR*/
  #main__grid--nav{
    grid-row: 1; /*positioning top row*/
    grid-column: 3/6;
  }

  /*---------------------------------------------------*/
  /*CENTERED TEXT*/
   #main__grid--center--upper{
     grid-row: 3; /*positioning top row*/
     grid-column: 2/5;
   }

   #main__grid--center--lower{
     grid-row: 4; /*positioning top row*/
     grid-column: 2/5;
   }

   /*---------------------------------------------------*/
   /*CARDS*/
   #main__grid--card1 {
     grid-row: 3/7; /*positioning top row*/
     grid-column: 2;
     background-color: white;
     margin-right: 10%;
     min-height: 100%;
     min-width: 90%;
     height: 200px;
     width: 200px;
     padding-bottom: 20%;

   }

   #main__grid--card2 {
     grid-row: 3/7; /*positioning top row*/
     grid-column: 3;
     background-color: white;
     margin-right: 10%;
     min-height: 100%;
     min-width: 90%;
     height: 200px;
     width: 200px;
     padding-bottom: 20%;



   }

   #main__grid--card3 {
     grid-row: 3/7; /*positioning top row*/
     grid-column: 4;
     background-color: white;
     margin-right: 10%;
     min-height: 100%;
     min-width: 90%;
     height: 200px;
     width: 200px;
    padding-bottom: 20%;
   }


   .arrows {
     width: 50px;
   }


  #main__grid--signup { /*sign up text styling*/
       grid-row: 7; /*center signup content*/
       grid-column: 2/5;
       padding-top: 40px;
     }

  #main__grid--button {
       grid-row: 8; /*align arrow content*/
       grid-column: 3;
     }

     #main__grid--leftarrow {
        grid-row: 5; /*align arrow content*/
        grid-column: 1;
        }

    #main__grid--rightarrow {
        grid-row: 5; /*align arrow content*/
        grid-column: 5;
        }





  /*---------------------------------------------------*/
  /*FOOTER STYLING*/
  #main__grid--footer {
      grid-row: 9; /*center footer content*/
      grid-column: 3;
    }

  /*---------------------------------------------------*/
  .print__only {
    display: none;
  }
